<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">
        <!--begin::Card-->
        <div class="card">
            <!--begin::Card header-->
            <div class="card-header border-0 pt-6">
                <!--begin::Card title-->
                <div class="card-title">
                    <!--begin::Search-->
                    <div class="d-flex align-items-center position-relative my-1">
                        <h3>Cập nhật lịch làm việc</h3>
                    </div>
                    <!--end::Search-->
                </div>
                <!--begin::Card title-->
                <!--begin::Card toolbar-->
                <div class="card-toolbar">

                    </a>
                </div>
                <!--end::Card toolbar-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <div class="row">
                    <div class="form-group">
                        <label for="">Chọn môn học</label>
                        <select name="subjectId" class="form-control">
                            <option value="">Chọn môn học</option>
                            @if (ViewBag.Subjects != null && ViewBag.Subjects.Count > 0)
                            {
                                @foreach (var item in ViewBag.Subjects)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Chọn mã giảng viên</label>
                        <select name="userId" class="form-control">
                            <option value="">Chọn giảng viên</option>
                            @if (ViewBag.Users != null && ViewBag.Rooms.Count > 0)
                            {
                                @foreach (var item in ViewBag.Users)
                                {
                                    <option value="@item.Id">@item.Username</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Chọn mã lớp</label>
                        <select name="roomId" class="form-control">
                            <option value="">Chọn mã lớp</option>
                            @if (ViewBag.Rooms != null && ViewBag.Rooms.Count > 0)
                            {
                                @foreach (var item in ViewBag.Rooms)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Ngày bắt đầu</label>
                        <input type="date" class="form-control" name="startDate">
                    </div>
                    <div class="form-group">
                        <label for="">Thời hạn</label>
                        <input type="date" class="form-control" name="endDate">
                    </div>
                    <div class="form-group mt-2">
                        <button id="saveData" class="btn btn-primary">Hoàn thành</button>
                    </div>
                </div>
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
</div>

@section Javascript {
    <script>
        $(document).ready(function () {
            const id = window.location.pathname.split('/')[4];
            console.log(id);
            loadData(id);
            $('#saveData').click(function () {
                saveData(id);
            })
        })
        // Save data
        function saveData(id) {
            const roomId = $('select[name="roomId"]').val();
            const userId = $('select[name="userId"]').val();
            const subjectId = $('select[name="subjectId"]').val();
            const startDate = $('input[name="startDate"]').val();
            const endtDate = $('input[name="endtDate"]').val();

            const data = {
                roomId: roomId,
                userId: userId,
                subjectId: subjectId,
                startDate: startDate,
                endDate: endtDate,
            }
            $.ajax({
                url: '/Administrator/TaskWork/Update/' + id + '',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (res) {
                    if (res.success) {
                        toastr.success("Cập nhật thành công");
                        setTimeout(() => {
                            window.location.href = '/Administrator/TaskWork';
                        }, 1000);
                    }
                    else {
                        toastr.error(res.errors.join('<br/>'));
                    }
                }
            })
        }
        // Load data
        function loadData(id) {
            $.ajax({
                url: '/Administrator/TaskWork/GetById/' + id,
                type: 'POST',
                success: function (res) {
                    console.log(res);
                    if (res.success) {
                        $('select[name="roomId"]').val(res.entity.roomId);
                        $('select[name="userId"]').val(res.entity.userId);
                        $('select[name="subjectId"]').val(res.entity.subjectId);
                        $('input[name="startDate"]').val(res.entity.startDate);
                        $('input[name="endDate"]').val(res.entity.endDate);
                    } else {
                        toastr.error(res.errors.join('<br/>'));
                    }
                }
            })
        }
    </script>
}
